@mixin themeColor($color){
   
    a,
    button{
        background: $color;
    }
    .logo{
        color: $color;   
    }
    .posts{
        .post{
            .postLink{
                border: 1px solid $color;
                color: $color;
            }
        }
    }
    .loadingSpinner:after{
        border-top-color:$color;
        border-bottom-color:$color;
      }
  nav{
      .userBtn{
          color:$color;
          &:hover{
              color:$color;
          }
      }
      img{
        border: 1px solid $color;
    }
  } 
#comment{
    border: 1px solid $color;
}
.form{
    input,
    select,
    textarea{
        border: 1px solid $color;
    }
}
#profPic{
    border: 3px solid $color;
}
.likeAndBookmark{
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-left: 10%;
    .buttons{
        margin-top: 10px;
    }
    button{
        color: $color;
        border: 1px solid $color;
        svg{
            g{
                fill: $color;
            }
        }
        &.active{
            background: $color;
            color: white;
            border: none;
            span{
                &:nth-of-type(2){
                    display: inline-block;
                }
            }
           
            svg{
                g{
                    fill: white;
                }
            }
        }
    }
  
}

#delete,
#signOut{
    background:#FF5A7E;
}
}