$interngram-blue: #027cce;

body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: rgb(240, 240, 240);
}
.decorBlock{
    top: 0%;
    height: 100px;
    width: 100%;
    background: #333333;
    position: absolute;
    transform: rotate(45deg);
    &:nth-of-type(2){
        top: 100px;
        background: $interngram-blue;
        width: 100%;
    }
}
.welcomingPanel{
color: #333333;
width: 70%;
margin-left: 10%;
margin-top: 5%;
padding: 5%;
display: flex;
justify-content: space-around;
.text{
    margin-top: 5%;
    h1{
        font-size: 4em;
        font-weight: 700;
        margin-bottom: 0px;
        line-height: 70px;
        span{
            color:$interngram-blue;
            font-size: 1.2em;
            letter-spacing: 1px;
            margin-left: 5px;
            margin-top: 0;
           
        }
    }
    p{
        margin-top: 0;
        font-size: 1.3em;
        margin-left: 5px;
    }
    button{
        outline: none;
        border: 2px solid $interngram-blue;
        color: $interngram-blue;
        border-radius: 12px;
        text-transform: uppercase;
        font-size: 1.4em;
        cursor: pointer;
        padding: 14px 40px;
        transition: .2s ease-in-out;
        &:hover{
        color: white;
        background: $interngram-blue;
        }
        &:active{
        color: $interngram-blue;
        background: none;
        }
    }
}}
.illustration{
    svg{
        width: 700px;
        height: 600px;
    }
}
