$interngram-blue: #027cce;

body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: rgb(240, 240, 240);
    padding-bottom: 100px;
}
a,
button{
    text-decoration: none;
    border: none;
    outline: none;
    background: $interngram-blue;
    color: white;
    border-radius: 12px;
    font-size: 1.4em;
    cursor: pointer;
    padding: 10px 40px;
    transition: .2s ease-in-out;
    &:hover{
    opacity: .8;
    }
    &:active{
    opacity: 1;
    }
}
.logo{
    cursor: pointer;
}
.decorBlock{
    top: 0%;
    height: 100px;
    width: 100%;
    background: #333333;
    position: absolute;
    transform: rotate(45deg);
    &:nth-of-type(2){
        top: 100px;
        background: $interngram-blue;
        width: 100%;
    }
}
.welcomingPanel{
color: #333333;
width: 70%;
margin-left: 10%;
margin-top: 5%;
padding: 5%;
display: flex;
justify-content: space-around;
.text{
    margin-top: 5%;
    h1{
        font-size: 4em;
        font-weight: 700;
        margin-bottom: 0px;
        line-height: 70px;
        span{
            color:$interngram-blue;
            font-size: 1.2em;
            letter-spacing: 1px;
            margin-left: 5px;
            margin-top: 0;
           
        }
    }
    p{
        margin-top: 0;
        font-size: 1.3em;
        margin-left: 5px;
    }
    
}}
.illustration{
    svg{
        text{
            font-family: 'Poppins', sans-serif;
            cursor: pointer;
            }
        width: 700px;
        height: 600px;
        .signUpBtn,
        .signInBtn{
            user-select: none;
            transition: .2s ease-in-out;
            &:hover{
                cursor: pointer;
                opacity: .9;
                transform: scale(1.006);
            }
            &:active{
                transform: scale(1);
                opacity: 1;
            }
        }
    }
    

    }
   
.wrapper{
    width: 80%;
    margin-left: 5%;
    padding:2% 5% 5%;
    nav{
        display: flex;
        justify-content: space-between;
        background: white;
        border-radius: 14px;
        .logo{
            font-size: 2em;
            color: $interngram-blue;
            margin-left: 2%;
        }
        .userBtn{
            background: white;
            color: $interngram-blue;
            padding-right: 0;
            &:hover{
                color: $interngram-blue;
                text-decoration: underline;
            }
        }
       
       .buttons{
           display: flex;
           margin-top: 0;
           margin-right: 2%;
           .edit,
           .delete{
               height: 60%;
               margin-top: 8%;
           }
       }
       img{
           display: flex;
           height: 60px;
           width: 65px;
           margin-top: 20px;
           border-radius: 50%;
           border: 1px solid $interngram-blue;
           cursor: pointer;
       }
        a{
            margin-top: 20px;
            line-height: 40px;
            margin-right: 20px;
            height: 40px;
            &:hover{
                color: white;
            }
        }
    }
    .posts{
        display: flex;
        flex-wrap: wrap;
        padding: 5%;

        .post{
            display: flex;
            flex-direction: column;
            background: white;
            text-align: center;
            width: 60%;
            height: 100%;
            border-radius: 16px;
            margin:0 3% 5% 17%;
            padding: 3%;
            img{
                width: 100%;
                height: 100%;
            }
            h2{
                color: #333333;
            }
            a{
                margin-top: 20px;
            }
        }
    }
    .individualPost{
        margin-top: 3%;
        border-radius: 16px;
    }
}
.formPanel{
    transform: translateY(-500px);
    transition: .4s ease-in-out;
    opacity: 0;
    .closeBtn{
        transition: .2s ease-in-out;
        &:hover{
            transform: scale(1.05);
        }
        &:active{
            transform: scale(1);
        }
    }
    &.active{
        transform: translateY(400px);
        opacity: 1;
    }
    
    &.createNewPostPanel.active{
        transform: translateY(500px);
    }
    &.editPostPanel{
        transform: translateY(-1000px);
    }
    &.editPostPanel.active{
        transform: translateY(-400px);
    }
    .form{
        box-shadow: 0px 0px 60px 5px rgba(255, 255, 255, 0.383);
        background: white;
        position: absolute;
        width: 20%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        padding:3.5% 5% 5%;
        border-radius: 22px;
        h1{
            text-align: center;
        }
        .closeBtn{
            position: absolute;
            right: 10%;
            top:6%;
            cursor: pointer;
            img{
                width: 30px;
                height: 30px;
            }
        }
        input,
        select,
        textarea{
            border: 1px solid $interngram-blue;
            outline: none;
            display: block;
            margin-bottom: 20px;
            width: 94%;
            padding: 5px;
            border-radius: 10px;
            color: #333333;
            font-family: 'Poppins', sans-serif;
        }
        input{
            height: 30px;
        }
        select{
            width: 97%;
            height: 40px;
        }
        button{
        display: block;
        text-align: center;
        margin-top: 30px;
        width: 99%;
        height: 60px;
        }
       animation:introForm 1s ease-in-out;
    
    }
   
    
}
.darkBackground{
    display: none;
    background: rgba(0, 0, 0, 0.835);
    top: 0;   
    left: 0;     
    height: 100vh;
    width: 100%;
    position: fixed;
    animation: intro .4s ease-in-out;
    cursor: pointer;
    &.active{
        display: block;
    }
    @keyframes intro {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
}
.buttons{
    margin-top: 30px;
}
.delete{
    background: rgb(255, 71, 71);
    margin-left: 10px;
}
.individualPost{
    background: white;
    padding: 5%;
    text-align: center;
}
.loadingSpinner{
    display: none;
}
    .loadingSpinner.active{
        
        p{
            position: absolute;
            top:22px;
            left: 20px;
          }
        width: 100px;
        height: 100px;
        background: #dfdede;
        border-radius: 50%;
        position: relative;
        margin: 50px;
        display: inline-block;
        bottom: 50px;
        left: 41%;
       
        
      }
      .loadingSpinner::after, .loadingSpinner::before{
        content: "";
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      .loadingSpinner:after{
        position: absolute;
        top: -4px;
        left:-4px;
        border: 4px solid transparent;
        border-top-color:$interngram-blue;
        border-bottom-color:$interngram-blue;
        animation: spinny 1s linear;
      }
      @keyframes spinny {
        0%{
          transform: rotate(0deg) scale(1);
        }
        50%{
          transform:rotate(45deg) scale(1.2);
        }
        100%{
          transform: rotate(360deg) scale(1);
        }
      }